@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 0;
  height: 10px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #dae9f7;
}

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #86aedf;
}

/* On hover, color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #70a3e2;
}
